body {
    background: #371718;
}

.navbar {
    background: #171837;
}
.jumbotron {
    /*border-radius: 5px;*/
}

#jumbo-container {
    margin-top: 40px;
    margin-bottom: 5px;

}

.posts {
    background : #EEEEEE;
    /*border-radius: 5px;*/
    padding: 2px;
    margin: 2px;
    border-top: .3px solid darkgray;
}

.row {
    background : #dbdbdb;
    /*border-radius: 5px;*/
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}


.posts h5 {
    margin: 0;
}

.form-horizontal {
    background : #EEEEEE;
    /*border-radius: 5px;*/
    padding: 2px;
    margin: 2px;
}
#hard-conservative {
    border-color: #B22234;
}
#hard-liberal {
    border-color: #A9B7C0;
}
#soft-conservative {
    border-color: #D27E87;
}
#soft-liberal {
    border-color: #3C3B6E;
}
#centrist {
    border-color: #785d90;
}
#independent {
    border-color: #9c8914;
}
