
/** {
    border: 1px solid red;
}*/
body {
    background: white;
    text-align: left;
}

button {
    background: darkgray;
}
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.navbar {
    background: #171837;
}
.navbar-brand:hover {
    text-decoration: overline lightgray;
}

.posts {
    background : #EEEEEE;
    /*border-radius: 5px;*/
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: .3px solid darkgray;
    border-bottom: .3px solid darkgray;
    margin-left: 5%;
}

.post {
    background : #EEEEEE;
    /*border-radius: 5px;*/
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: .3px solid darkgray;
    border-bottom: .3px solid darkgray;
    margin-left: 4%;
}

.comment{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 4%;
}
#single-post {
    text-align: left;
    /*padding: 15px;*/
    border-top: .3px solid darkgray;
    border-bottom: .3px solid darkgray;

}

.row {
    background : #dbdbdb;
    border-top: .3px solid darkgray;
    border-bottom: .3px solid darkgray;
    /*border-radius: 5px;*/
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.posts h5 {
    margin: 0;
}
.form-horizontal {
    background : #EEEEEE;
    border-top: .3px solid darkgray;
    border-bottom: .3px solid darkgray;
    padding: 4px;
    margin: 0 2px;
}

.hard-right {
    background: #B22234;
    color: white;
}
.soft-left {
    background: #337AB7;
    color: black;
}
.soft-right {
    background: #D27E87;
    color: white;
}
.hard-left {
    background: #3C3B6E;
    color: white;
}
.centrist {
    background: #653776;
    color: white;
}
.independent {
    background: #9c8914;
    color: white;
}

.test {
    background: white;
}

.carousel {
    background : #EEEEEE;
    border-top: .3px solid darkgray;
    border-bottom: .3px solid darkgray;
    padding: 4px;
    margin-bottom: 10px;
}

.panel-body {
    padding: 0;
}

.carousel-inner {
    position: relative;
    width: 200px;
    margin: 1% auto;
}

.navbar-brand {
    font-size: 30px
}

.line {
    display: flex;
}
.line div{
    height: 7px;
    width: 16.666%;
}
.line div:hover{
    box-shadow: 4px 0px 10px darkgray;
    cursor: pointer;
}
.post-innards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.post-innards-left{
    padding: 25px;
}
.post-innards-right {
    margin: 4px;
    box-shadow: 1px 1px 3px black;
    height: 100%;
}
.likeIt {
    display: flex;
    flex-direction: column;
    height: 16.666%;
    width: 100%;
    margin: 0;
}
.likeIt:hover {
    cursor: pointer;
}

.total_likes{
    background: lightgray;
    color: black;
    font-size: 20px;
    font-weight: bolder;
    cursor: default;
}
.total_likes,#hr,#sr,#c,#sl,#hl,#i {
    display: flex;
    align-items: center;
    justify-content: center;
}

.panel-heading {
    background: rgba(0, 0, 0, 0);
}
